<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_main">

    <application android:theme="@style/AppTheme">
        <activity android:name=".MainLibraryActivity">

        </activity>
        <activity android:name=".MainStandardActivity"
            android:launchMode="standard"/>
        <activity android:name=".MainSingleTaskActivity"
            android:launchMode="singleInstance"/>
        <activity android:name=".MainSplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainLoginActivity"
            android:windowSoftInputMode = "adjustResize|stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.module_main.Login"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
